.post-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.edit-buttons {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.post-card:hover .edit-buttons {
  opacity: 1;
}
